[submodule "jscoq-builds"]
	path = jscoq-builds
	url = git@github.com:ejgallego/jscoq-builds.git
[submodule "coq-serapi"]
	path = coq-serapi
	url = git@github.com:ejgallego/coq-serapi.git
[submodule "coq"]
	path = coq
	url = git@github.com:joelburget/coq.git
[submodule "camlp5"]
	path = camlp5
	url = git@github.com:camlp5/camlp5.git
